name: Check

on:
  push:
    branches:
      - 'main'
    tags-ignore:
      - '*'

permissions:
  contents: read

jobs:
  check:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
      - name: check
        run: ./gradlew check
